<!DOCTYPE html>
<html>
<title>Competitors</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" type="text/css" media="all" />
<link rel="stylesheet" href="{{url_for('static',filename='util.css')}}" type="text/css" media="all" />
<link rel="stylesheet" href="{{url_for('static',filename='maint.css')}}" type="text/css" media="all" />
<link rel="stylesheet" href="{{url_for('static',filename='mainn.css')}}" type="text/css" media="all" />
<link rel="stylesheet" href="{{url_for('static',filename='maintable.css')}}" type="text/css" media="all" />

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<style>
.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 100px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #C0C0C0;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
</style>
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<script type="text/javascript">
    function validate() {
        var url = document.getElementById("URL").value;
        var pattern = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
        if (pattern.test(url)) {
            return true;
        }
            alert("Url is not valid!");
            return false;

    }
</script>
<body class="w3-light-grey" class="landing">
<div class="loader">
    <img src="/static/drawinsights.gif" alt="Loading..." />
    <figcaption> it may take 10-20 minutes ^_^ </figcaption>
</div>
<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-center">KEYWORD RESEARCH</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="/static/W_in_circle.png" class="w3-circle w3-margin-right" style="width:50px">
    </div>
    <div class="w3-col s8 w3-bar">

      <span>KEYWORD RESEARCH</span><br>
    </div>
  </div>
  <hr>

  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
     <a href="\homepage.html" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-user"></i>Home</a>
   <a href="\keywords.html" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users"></i>Analysis</a>

  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    
  </header>

  <div class="w3-row-padding w3-margin-bottom">



<form class="example" action="/keywords.html" style="margin:auto;max-width:700px">
  <input type="text" placeholder="Enter your URL (search for keywords)" name="URL" id="URL">
  <button type="submit" formaction="/competitors.html" onclick="return validate();"><i class="fa fa-search"></i></button>

</form>

<div class="container-table100">
      <div class="wrap-table100">
             <div class="w3-bar">
 <button class="w3-button w3-blue exportToExcel"  onclick="exportTableToExcel('table')">Download CSV</button> <br> <br>
</div>
        <div class="table100">
          <table id="table">
            <thead>
              <tr class="table100-head w3-blue" >
                <th class="column2">URL</th>
                <th class="column2" ><span title="Number of people who have Alexa Tool bar extension who opened this URL per million">Reach</span></th>
                <th class="column2" ><span title="rate of how similar this Competitor to your original page">Similary</span></th>
            
              </tr>
            </thead>
            <tbody>
			 {% if result %}
                    {% set sort_on = request.args.sort_on|default('volume') %}
                    {% for item in result|sort(attribute=sort_on) %}
                              <tr class="noExl">
                                  <td class="column2"><a href={{ item.url}}>{{item.url}}</a></td>
                                  {% if item.reach == -1 %}
                                      <td class="column2">_</td>
                                  {% else %}
                                  <td class="column2">{{item.reach}}</td>
                                  {% endif %}
                                    {% set similarity = item.similarity * 100 %}
                                  <td class="column2">{{ '%0.1f' % similarity|float}}%</td>
                              </tr>
			        {% endfor %}
			 {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
  </div>




  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>
<script>
function exportTableToExcel(tableID, filename = ''){
    var downloadLink;
    var dataType = 'application/vnd.ms-excel';
    var tableSelect = document.getElementById(tableID);
    var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

    // Specify file name
    filename = filename?filename+'.xls':'Competitors.xls';

    // Create download link element
    downloadLink = document.createElement("a");

    document.body.appendChild(downloadLink);

    if(navigator.msSaveOrOpenBlob){
        var blob = new Blob(['\ufeff', tableHTML], {
            type: dataType
        });
        navigator.msSaveOrOpenBlob( blob, filename);
    }else{
        // Create a link to the file
        downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

        // Setting the file name
        downloadLink.download = filename;

        //triggering the function
        downloadLink.click();
    }
}
$(document).ready(function() {
    $('#table').DataTable( {
        "dom": '<"toolbar">frtip'
    } );

    $("div.toolbar").html();
} );
window.addEventListener("load", function () {
    const loader = document.querySelector(".loader");
    loader.className += " hidden"; // class "loader hidden"
});
</script>

</body>
</html>
